.todo-list {
  position: relative;
  border-bottom: 6px solid #cfcbc8;
  height: 55vh;
  grid-area: tasks-list;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #00718f;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #013f4e;
    }
  }
}

.heading {
  padding: 10px 10px 0 0;
  font-size: 18px;
  position: fixed;
  right: 10px;
  top: 10px;
}
