.task-form {
  position: relative;
  margin-top: 15px;
}
.list-btn {
  display: flex;
  align-items: center;
  color: #000;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #B4B4B4;
  cursor: pointer;
  padding: 5px 10px;
  &:hover {
    text-decoration: underline;
  }
  svg {
    width: 30px;
    height: 30px;
  } 
}

.input {
  position: absolute;
  width: 415px;
  left: 15px;
  input {
    margin-bottom: 15px;
    width: 415px;
    padding: 10px 15px;
    border: 1px solid #EFEFEF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15px;
    border-radius: 4px;
    &::placeholder {
      color: #C7C7C7;
    }
  }

  button {
    cursor: pointer;
    padding: 10px 0;
    border-radius: 4px;
    border: none;
    transition: background-color .15s ease-in-out;
  }

  .btn-add {
    width: 145px;
    background: #4DD599;
    color: #fff;
    margin-right: 10px;
    &:hover {
      background-color: #3ec389;
    }
    &:active {
      background-color: #2fb87d;
    }
  }

  .btn-cancel {
    width: 90px;
    background: #ebebeb;
    color: #9C9C9C;
    &:hover {
      background-color: #e4e4e4;
    }
    &:active {
      background-color: #d6d6d6;
    }
  }
}