.logo {
  grid-area: logo;
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-weight: 300;
  padding-right: 80px;
  background-color: #fff;
  color: #00718f;
  height: 10vh;
  display: grid;
  place-items: center;
  border-bottom: 6px solid #cfcbc8;
  border-right: 6px solid #cfcbc8;

  @media (max-width: 1600px) {
    font-size: 56px;
  }
}
