.logo {
  grid-area: logo;
  border-top-left-radius: 10px;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 300;
  padding-left: 80px;
  background-color: #fff;
  color: #00718f;
  border-bottom: 3px solid #cfcbc8;
  border-right: 3px solid #cfcbc8;
}
