* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  padding: 0 1rem;
}

.app {
  border-radius: 10px;
  margin: 0 auto;
  margin-inline: auto;
  margin-top: 50px;
  display: grid;

  @media (max-width: 2560px) {
    max-width: 2560px;
    display: grid;
    grid-template-areas:
      'logo input input'
      'side-bar tasks-list tasks-list'
      'side-bar tasks-list tasks-list'
      'button filters filters';

    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  // box-shadow: 7px 8px 34px -13px rgba(66, 68, 90, 1);
}
