.wrapper {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
}

.form {
  cursor: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  padding: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #fff;
  z-index: 10;

  @media (max-width: 1600px) {
    padding: 50px;
    width: 700px;
    gap: 20px;
  }

  label {
    font-size: 72px;
    font-weight: 600;
    color: #013f4e;

    @media (max-width: 1600px) {
      font-size: 36px;
    }
  }
  input {
    font-size: 56px;
    padding: 30px 50px;
    border: 1px solid #cfcbc8;
    border-radius: 5px;
    &:focus {
      outline: 2px solid #00718f;
      border: none;
    }

    @media (max-width: 1600px) {
      font-size: 36px;
      padding: 10px 25px;
    }
  }
  button {
    width: 500px;
    padding-block: 30px;
    font-size: 56px;
    cursor: pointer;
    background-color: #00718f;
    border: none;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #0a5365;
    }
    &:active {
      color: rgb(215, 215, 215);
    }

    @media (max-width: 1600px) {
      font-size: 36px;
      width: 250px;
      padding-block: 15px;
    }
  }
}
