.react-datepicker-wrapper {
  .react-datepicker__input-container {

    input {
      width: 40%;
      height: 51px;
      font-size: 20px;
      padding-left: 20px;
      border: none;
      border-bottom: 1px solid rgb(230, 230, 230);
      border-right: 1px solid #013F4E;
      border-left: 1px solid #013F4E;
      
      &:focus {
        outline: none;
      }
    }
  }
}


.react-datepicker__current-month {
  margin: 8px 0 10px;
  font-size: 20px;
  font-weight: 600;
  color: #013F4E;
  position: absolute;
  top: 11px;
  left: 120px
}

.react-datepicker-popper {
  
  background-color: #f1f1f1;
  height: 280px;
  padding: 15px;
  border-radius: 10px;
  width: 387px;
  z-index: 1;
}




.react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #013F4E;
  margin-top: 15px;
  .react-datepicker__day-name {
    text-align: center;
    width: 20px;
  }
}

.react-datepicker__month {
  height: 50px;
}

.react-datepicker__week {
  display: grid;
  color: #00718F;
  grid-template-columns: repeat(7, 1fr);
  font-size: 14px;
  margin-bottom: 10px;
}

.react-datepicker__navigation {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  color: transparent;
  width: 29px;
  height: 29px;
  cursor: pointer;
  &.react-datepicker__navigation--previous {
    background-image: url(../../../public/img/left-arrow.svg);
  }
  &.react-datepicker__navigation--next {
    position: absolute;
    right: 15px;
    top: 21px;
    background-image: url(../../../public/img/right-arrow.svg);
  }
}

.react-datepicker__day {
  cursor: pointer;
  border-radius: 4px;
  padding: 1px;
  align-self: center;
  width: 20px;
  text-align: center;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: #fff;
  }
  &:focus {
    background-color: #fff;
  }
}