.sidebar {
  height: 55vh;
  background-color: #fff;
  border-right: 6px solid #cfcbc8;
  border-bottom: 6px solid #cfcbc8;
  grid-area: side-bar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #00718f;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #013f4e;
    }
  }
}

.sidebar__top {
  flex-grow: 1;
}

.folders-list {
  background-color: #ffffff;
  width: 100%;
  li {
    display: flex;
    width: 100%;
  }

  .folders-btn {
    width: 85%;
    font-size: 60px;
    background-color: #0ba5be;
    color: #fff;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgb(230, 230, 230);
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: rgb(255, 255, 255);
      color: #00718f;

      .nav-btn {
        color: #0ba5be;
      }
    }
    &:active {
      background-color: rgb(236, 236, 71);
    }

    @media (max-width: 1600px) {
      font-size: 28px;
    }
  }

  .folders-delete-btn {
    display: grid;
    place-items: center;
    width: 15%;
    cursor: pointer;
    background-color: #0ba5be;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-left: 1px solid rgb(230, 230, 230);
    transition: background-color 0.25s ease-in-out;
    &:hover {
      background-color: rgb(255, 255, 255);
      svg {
        line {
          stroke: rgb(246, 56, 56);
          transition: stroke 0.25s ease-in-out;
        }
      }
    }
    &:active {
      background-color: rgb(236, 236, 71);
    }
    svg {
      width: 60px;
      height: 60px;

      margin-top: 3px;

      @media (max-width: 1600px) {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.nav-btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
