.nav {
  grid-area: filters;
  display: flex;
  padding: 10px 30px;
  height: 15vh;
  justify-content: space-between;
  background-color: #fff;

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .active {
    p {
      color: grey;
      font-size: 46px;

      @media (max-width: 1600px) {
        font-size: 18px;
      }
    }
  }
  .status-filter {
    padding: 0;
  }

  h3 {
    color: #00718f;
    margin-bottom: 10px;
  }
}

.heading {
  margin-bottom: 14px;
  font-size: 46px;

  @media (max-width: 1600px) {
    font-size: 24px;
  }
}

.actions-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-btn {
  background-color: transparent;
  padding: 25px 50px;
  border: 1px solid #00718f;
  border-radius: 4px;
  color: grey;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  font-size: 30px;
  &:hover {
    background-color: #00718f;
    color: #fff;
  }
  &:active {
    background-color: #0a5365;
    color: rgb(215, 215, 215);
  }

  @media (max-width: 1600px) {
    padding: 10px 20px;
    font-size: 18px;
  }
}

.status-btn {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font-size: 46px;
  background-color: transparent;
  border: none;
  color: grey;
  &:hover {
    color: #00718f;
    text-decoration: underline #00718f;
  }
  &:active {
    color: #0a5365;
    text-decoration: underline #00718f;
  }

  @media (max-width: 1600px) {
    font-size: 16px;
  }
}
